html {
  box-sizing: border-box;
}

body{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
	margin:0px auto;
	width:100%;
}

#menu{
	width: 100%;
	text-align: center;
	height: 100px;
	background-color: #0d83dd;
	border-bottom: 5px solid #106fb6;
	position: relative;
}
#menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	bottom: 0;
	position: absolute;
	left: 40%;
} 
#menu ul li{
	display:inline-block;
	font-size:18px;
	padding-right:80px;
	padding-bottom:20px;
}

#menu a{color:#fff; text-decoration:none;}
#menu a:visited{color:#fff; text-decoration:none;}
#menu a:hover{color:#fff; text-decoration:none;}

#content{
	padding:0px 20px 0px 20px;
}

.issues{
	float:left;
	width:100%;
	border:1px solid #333;
	border-bottom:none;
}

.issue{
	float:left;
	width:100%;
	border-bottom:1px solid #333;
}

.issue.even{
	background-color:#fff;
}

.issue.odd{
	background-color:#fff;
}


.issue.ready-for-review{
	background-color:#dfd;
}
.issue.question{
	background-color:#f4f379;
}
.issueheader{
	float:left;
	width:100%;
	border-bottom:1px dashed #333;
	padding:10px;
	position:relative;
}
.issuedate{
	float:left;
	margin-right:10px;
	font-style:italic;
	width:65px;
}
.issuepriority{
	float:left;
	margin-right:10px;
	font-weight:bold;
	width:150px;
}
.issuereporter{
	float:left;
	margin-right:10px;
	width:100px;
}
.issueactions{
	position:absolute;
	top:5px;
	right:10px;
}

.issueos{
	float:left;
	margin-right:10px;
}

.issuebrowser{
	float:left;
}

.issuetext{
	float:left;
	width:100%;
	padding:10px;
}
.issuenote{
	float:left;
	width:100%;
	padding:10px;
}



table.issuelist{
	border-left:1px solid #333;
	border-right:1px solid #333;
	border-top:1px solid #333;
	width:100%;
	margin-bottom:80px;
}

table.issuelist tr td, table.issuelist tr th{
	border-bottom:1px solid #333;
	padding:10px;
}

table.issuelist tr.even td{
	background-color:#fff;
}

table.issuelist tr.odd td{
	background-color:#e5f2fb;
}


table.issuelist tr.ready-for-review td{
	background-color:#dfd;
}
table.issuelist tr.question td{
	background-color:#f4f379;
}

.issuelist textarea{
	width:100%;
	height:100px;
}

.hiddennote{
	display:none;
}

.iconcell{
	width:110px;
}
.issueactions a{
	width:30px;
	text-align: center;
	float:left;
}

.issueactions a .fa-check,
.issueactions a .fa-question,
.issueactions a .fa-thumbs-up,
.issueactions a .fa-trash-o{
	padding:5px;
}

.issueactions a .fa-stack-1x{padding:0px;}

.issueactions a .fa-check{color:#659c17;}
.issueactions a:visited .fa-check{color:#659c17;}
.issueactions a:hover .fa-check{color:#659c17;}

.issueactions a .text-danger{color:#a94442;}
.issueactions a:visited .text-danger{color:#a94442;}
.issueactions a:hover .text-danger{color:#a94442;}

.issueactions a .fa-thumbs-up{color:#000;}
.issueactions a:visited .fa-thumbs-up{color:#000;}
.issueactions a:hover .fa-thumbs-up{color:#000;}

.issueactions a .fa-question{color:#000;}
.issueactions a:visited .fa-question{color:#000;}
.issueactions a:hover .fa-question{color:#000;}

.issueactions a .fa-trash-o{color:#a94442;}
.issueactions a:visited .fa-trash-o{color:#a94442;}
.issueactions a:hover .fa-trash-o{color:#a94442;}





